body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

.container-head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-color: #222;
    text-align: center;
}

.logo img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.imageholder {
    width: 100%;
    height: 50vh;
    background-image: url('../img/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imageholder .bgtxt {
    color: white;
    text-align: center;
    font-size: 10rem;
}

#wrap {
    margin: 20px auto;
    margin-top: 60px;
    text-align: center;
}

.download {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.download {
    border: 2px solid #d04033;
}

.download:hover {
    background-color: #3d4b3a;
}

.download:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #d04033;
    color: #fff;
}

.download:hover span.circle2 {
    color: #3d4b3a;
}

.download:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.download:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.download span.circle2 {
    display: block;
    background-color: #3d4b3a;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.download span.circle2 {
    background-color: #66342c;
}

.download span.title2,
.download span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.download span.title2,
.download span.title-hover2 {
    color: #d04033;
    left: 80px;
}

.download span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.download span.title-hover2 {
    color: #fff;
}



.header-active {
    background-color: #333;
}

.hamburger-menu {
    margin-right: 50px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

.faq-container {
    max-width: 90vw;
    margin: 50px auto;
    color: white;
}

.faq-item {
    margin-bottom: 20px;
    border-radius: 25px;
    overflow: hidden;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.faq-item input {
    display: none;
}

.faq-item label {
    display: block;
    padding: 10px;
    background-color: #aeaeae;
    color: #fff;
    cursor: pointer;
}

.faq-item input:checked+label {
    background-color: #aeaeae;
}

.faq-item input:checked~.faq-content {
    border: 3px solid #aeaeae;
    border-radius: 0 0 25px 25px;
    padding: 10px;
    max-height: 250px;
}

.faq-item a {
    color: #9a7eff;
    text-decoration: underline #30abd5;
}

footer {
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .imageholder .bgtxt {
        font-size: 8rem;
    }

    .container-head {
        flex-direction: column;
        position: relative;
    }

    .hamburger-menu {
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .bar {
        transition: transform 0.3s ease;
    }

    nav {
        margin-top: 20px;
        display: none;
    }

    nav.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #222;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    }

    nav a {
        margin: 10px;
        transition: color 0.3s ease;
    }

    .header-active nav a {
        color: #fff;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

@media screen and (max-width: 600px) {
    .imageholder .bgtxt {
        font-size: 6rem;
    }
}

@media screen and (max-width: 480px) {
    .imageholder .bgtxt {
        font-size: 5rem;
    }
}